body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2e7439;
    /* propriedade usada para o usuário não conseguir selecionar nenhum emoji */
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #626dd1 30%,
        #6cdb98 70%,
        #fdeff9 100%
    );
    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.1em;
}

p {
    font-size: 2em;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 2px;
    /* margin-bottom: -10px; */
}

.reset {
    padding: 15px 20px;
    width: 100%;
    height: 50px;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ec38bc;
    background-color: #262809;
}

.content-chances {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px 5px;
    width: auto;
    height: auto;
    border: 3px solid #000;
    border-radius: 10px;
    background: linear-gradient(to top, #000 0%, #6a6a6a 30% , #aaaaaa 70% ,#c2c2c2 100%);
}

.game {
    width: 430px;
    height: 430px;
    gap: 10px;
    display: flex;

    /* comando que quebra os elementos para uma próxima linha quando esse ultrapassa a borda */
    flex-wrap: wrap;

    /* comando que preserva uma animação 3d */
    transform-style: preserve-3d;

    /* comando da perspectiva da animação */
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.5s;
}

/* o que vai acontecer com a class item quando tudo for carregado */
.item::after{
    content: "";
    position: absolute;
    /* inset usado para "cobrir" o card com outra cor */
    inset: 0;
    /* opacity: 0.85; */
    background: #404040;
    transition: 0.5s;
    transform: rotateY(0deg);
    /* backface para garantir que o card com o emoji não seja visível */
    backface-visibility: hidden;
}

.item .boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}